
$breakpoint-xs: 30em;  // 400px
$breakpoint-sm: 48em;  // 480px
$breakpoint-md: 62em;  // 768px
$breakpoint-lg: 75em;  // 992px
$breakpoint-xl: 91em;  // 1440px

$color-white: #fff;
$color-blue-500: #009DE0;
$color-dark-500: #0E1323;

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: "Roboto";
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.6rem;
	background: $color-white;
	// @media (min-width: $breakpoint-sm) {}
	// @media (min-width: $breakpoint-md) {}
	// @media (min-width: $breakpoint-lg) {}
	// @media (min-width: $breakpoint-xl) {}
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:focus {
	color: $color-blue-500;
}

.app-header {
	position: relative;
	height: 8rem;
	color: $color-white;
	background: $color-dark-500;
}

.logo {
	float: left;
}

.navigation {
	float: right;
}

@keyframes viewEnter {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.app-body {
	section { animation: viewEnter 1s; }
}

.app-footer {

}





