
$breakpoint-xs: 30em;  // 400px
$breakpoint-sm: 48em;  // 480px
$breakpoint-md: 62em;  // 768px
$breakpoint-lg: 75em;  // 992px
$breakpoint-xl: 91em;  // 1440px

$color-white: #fff;
$color-blue-500: #009DE0;
$color-dark-500: #0E1323;

*,
*:before,
*:after {
	box-sizing: border-box;
}

html {
	font-family: "Roboto";
	font-size: 62.5%;
}

body {
	margin: 0;
	font-size: 1.6rem;
	background: $color-white;
	// @media (min-width: $breakpoint-sm) {}
	// @media (min-width: $breakpoint-md) {}
	// @media (min-width: $breakpoint-lg) {}
	// @media (min-width: $breakpoint-xl) {}
}

a {
	color: inherit;
	text-decoration: none;
}

a:hover,
a:focus {
	color: $color-blue-500;
}

.app-header {
	position: relative;
	height: 8rem;
	padding-left: 4rem;
	padding-right: 4rem;
	color: $color-white;
	background: $color-dark-500;
	z-index: 5000;
}

.logo {
	float: left;
}

.navigation {
	float: right;
}

.navigation-trigger {
	position: absolute;
	top: 0;
	right: 4rem;
	width: 8rem;
	height: 8rem;
	border: 0;
	font-family: inherit;
	color: inherit;
	background: transparent;
	z-index: 1000;
}

.navigation nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	color: $color-white;
	background: $color-dark-500;
}

.navigation nav ul {
	margin: 0;
	padding-left: 0;
}

.navigation nav ul {
	position: relative;
	display: block;
	top: 30%;
}

.navigation nav a {
	display: block;
	font-size: 2.4rem;
	line-height: 3rem;
	padding-top: 1.6rem;
	padding-bottom: 1.6rem;
	text-align: center;
}

@keyframes navEnter {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.navigation--active nav {
	display: block;
	animation: navEnter 0.5s;
}

@keyframes viewEnter {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

.app-body {
	min-height: 80rem;
	section {
		animation: viewEnter 1s;
	}
}

.app-footer {
	color: $color-white;
	background: $color-dark-500;
}





